@page "/auth/contact"
@model Roblox.Website.Pages.Contact

@{
    Layout = "Shared/_Layout";
}

@section MetaTags {
    <title>Contact</title>
}

<div class="container mt-4">
    <div class="row">
        <div class="col-12 col-lg-6 offset-lg-3">
            <h1>Contact</h1>
            <p>All inquires should be sent through our Discord server at: <span class="fw-bold">https://discord.gg/apmjRddFyb</span></p>
            <p>Note that messages sent via any contact method not listed above (including, but not limited to, our Domain Register or Web Host) will be completely ignored.</p>
        </div>
    </div>
</div>