@page "/auth/vulnabuser"
@model Roblox.Website.Pages.Auth.Privacy

@{
    Layout = "Shared/_Layout";
}

@section MetaTags {
    <title>BloxD - Vuln Abuser</title>
}

<div class="container">
    <div class="row">
        <div class="col-12 col-lg-6 offset-lg-3">
            <h2 class="mt-4 mb-4">Who do you think you are?</h2>
            <p>Seriously? Trying to vuln our site. Not happening around here.</p>
            <p>Get a few friends in real life buddy.</p>
	    <p>- zinc</p>
        </div>
    </div>
</div>